useDynLib(tripPlanner, .registration = TRUE)
importFrom(Rcpp, evalCpp)
importFrom(R6, R6Class)
importFrom(stats, setNames)
importFrom(utils, read.csv, head)
importFrom(httr, GET, content, status_code, timeout, add_headers)
importFrom(jsonlite, fromJSON)

export(load_cities)
export(haversine_matrix)
export(build_cost_matrix)
export(solve_tsp)
export(RouteOptimizer)
export(plan_trip)
export(get_transport_options)
export(filter_by_style)
export(calculate_importance)
export(allocate_days)
export(find_route_discoveries)
export(fetch_cities_from_wikidata)

S3method(print, trip_plan)
S3method(summary, trip_plan)
S3method(print, transport_option)
